<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="devexpress.api" value="https://nuget.devexpress.com/hFsuH8H6sxTaVjhDbYLzPztmlmFGDojMOORQuiUoAkI3FoHrEt/api" />
		<!-- <add key="DevExpress 22.2 Local" value="C:\Program Files\DevExpress 22.2\Components\System\Components\Packages" /> -->
		<!-- <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" /> -->
	</packageSources>
	<!-- <packageSourceCredentials> -->
	<!-- <devexpress.api> -->
	<!-- <add key="Username" value="DevExpress" /> -->
	<!-- <add key="Password" value="https://nuget.devexpress.com/hFsuH8H6sxTaVjhDbYLzPztmlmFGDojMOORQuiUoAkI3FoHrEt/api" /> -->
	<!-- </devexpress.api> -->
	<!-- </packageSourceCredentials> -->
</configuration>